<template>
    <b-container class="bv-example-row mt-4 mb-4">
      <h1>Backlight</h1>
      <b-row>
        <b-col v-for="led in leds" :key="led.name">
          <range-controller
            :name="led.name"
            :value="led.value"
            :buttonChangeName="led.buttonName"
            v-on="{ 
              ledWhiteChange : ledWhiteChange,
              ledBlueChange  : ledBlueChange,
              ledGreenChange : ledGreenChange,
              ledRedChange   : ledRedChange,
              ledWhiteSync   : ledWhiteSync,
              ledBlueSync    : ledBlueSync,
              ledGreenSync   : ledGreenSync,
              ledRedSync     : ledRedSync,
            }"
          />
        </b-col>

      </b-row>
      <h1>Temperature</h1>
      <b-row>
        <b-col>
          <range-controller
              name="Water"
              :value="waterTemperature"
              :min="20"
              :max="45"
              buttonChangeName="temperature"
              @temperatureChange="temperatureChange"
              @temperatureSync="temperatureSync"
          />
        </b-col>
      </b-row>
      
      <h1>Pump</h1>
      <b-row>
        <b-col>
          <range-controller
              name="Pump level"
              :value="pumpLevel"
              buttonChangeName="pump"
              @pumpChange="pumpChange"
              @pumpSync="pumpSync"
          />
        </b-col>
      </b-row>

    </b-container>
</template>

<script>
import RangeController from './ui/RangeController';
import { mapActions, mapGetters } from 'vuex'

export default {
    components: {
        RangeController
    },

    methods: {
        ...mapActions([
            'syncWhiteLED',
            'syncBlueLED',
            'syncGreenLED',
            'syncRedLED',
            'syncWaterTemperature',
            'setWhiteLED',
            'setBlueLED',
            'setGreenLED',
            'setRedLED',
        ]),

        ledWhiteChange(value) {
            this.setWhiteLED(value);
        },
        ledBlueChange(value) {
            this.setBlueLED(value);
        },
        ledGreenChange(value) {
            this.setGreenLED(value);
        },
        ledRedChange(value) {
            this.setRedLED(value);
        },
        temperatureChange(value) {
            console.log('temp is changed!' + `${value}`);
        },
        pumpChange(value) {
            console.log('pump is changed!' + `${value}`);
        },

        ledWhiteSync() {
            this.syncWhiteLED();
        },
        ledBlueSync() {
            this.syncBlueLED();
        },
        ledGreenSync() {
            this.syncGreenLED();
        },
        ledRedSync() {
            this.syncRedLED();
        },
        async temperatureSync() {
            await this.syncWaterTemperature();
             
            console.log(this.waterTemperature);
        },
        pumpSync() {
            console.log('Pump Sync');
        },
    },

    computed: {
        ...mapGetters([
            'waterTemperature',
            'pumpLevel',
            'whiteLED',
            'blueLED',
            'greenLED',
            'redLED',
        ]),

        leds() {
            return [
                {
                    name: 'White',
                    value: this.$store.getters.whiteLED,
                    buttonName: 'ledWhite',
                },
                {
                    name: 'Blue',
                    value: this.$store.getters.blueLED,
                    buttonName: 'ledBlue',
                },
                {
                    name: 'Green',
                    value: this.$store.getters.greenLED,
                    buttonName: 'ledGreen',
                },
                {
                    name: 'Red',
                    value: this.$store.getters.redLED,
                    buttonName: 'ledRed',
                },
            ]
        },
    },
}
</script>