<template>
    <b-card 
        :title="header" 
        :border-variant="borderColor" 
        :style="bgColor"
    >
        <b-alert :variant="colorForControllerValue" show>
            Change to : {{ controllerValue }} 
                        {{
                            name.match(/Water/gi) 
                            ? 'C\u00B0' : '%'
                        }}
        </b-alert>
        <b-form-input 
            type="range"
            :min="min"
            :max="max"
            v-model="controllerValue"
        />
        <b-button 
            variant="outline-primary" 
            size="sm"
            @click="$emit(`${buttonChangeName}Change`, controllerValue)"
        >
            {{ changeButton }}
        </b-button>
        <b-button 
            class="float-right"
            variant="outline-success" 
            size="sm"
            @click="$emit(`${buttonChangeName}Sync`)"
        >
            Sync value
        </b-button>
    </b-card>
</template>

<script>
export default {
    props: {
        name: {
            type    : String,
            default : 'Header',
        },
        value: {
            type    : [Number, String],
            default : 0,
        },
        buttonChangeName: {
            type    : String,
            default : 'Change'
        },
        min: {
            type    : Number,
            default : 0
        },
        max: {
            type    : Number,
            default : 100
        }
    },
    data() {
        return {
            controllerValue: this.min,
        }
    },
    computed: {
        bgColor(){
            let bgClr = '';
            if ( this.name === "Green" ) {
                bgClr = { "background-color":"rgb(237, 255, 238)" };
            }
            else if ( this.name === "Blue" ) {
                bgClr = { "background-color":"rgb(237, 237, 255)" };
            }
            else if ( this.name === "Red" ) {
                bgClr = { "background-color":"rgb(255, 237, 238)" };
            }
            // return { "background-color":"rgb(237, 255, 238)" };
            return bgClr;
        },
        borderColor() {
            let clr = 'secondary';

            if ( this.name === "Green" ) {
                clr = 'success';
            }
            else if ( this.name === "Blue" ) {
                clr = 'primary';
            }
            else if ( this.name === "Red" ) {
                clr = 'danger';
            }

            return clr;
        },
        header() {
            const isWater = this.name.match(/Water/gi);
            const postfix = isWater ? 'C\u00B0' : '%';

            const sufix = isWater ? 'Temperature' : this.name.match(/Pump/gi)? '' : 'LED';

            return `${this.name} ${sufix} is : ${this.value} ${postfix}`;
        },
        changeButton() {
            return `${this.buttonChangeName} change`;
        },

        colorForControllerValue() {
            const isWater = this.name.match(/Water/gi);
            let color = '';

            if (isWater) {
                if (this.controllerValue == 20) {
                    color = 'dark';
                }
                if (this.controllerValue > 20 && this.controllerValue < 24) {
                    color = 'success';
                }
                if (this.controllerValue >= 24 && this.controllerValue < 28) {
                    color = 'warning';
                }
                if (this.controllerValue >= 28) {
                    color = 'danger';
                }
            }
            else {
                if (this.controllerValue == 0) {
                    color = 'dark';
                }
                if (this.controllerValue > 0 && this.controllerValue < 20) {
                    color = 'success';
                }
                if (this.controllerValue >= 20 && this.controllerValue < 50) {
                    color = 'warning';
                }
                if (this.controllerValue >= 50) {
                    color = 'danger';
                }
            }
            return color;
        },
    }
}
</script>